databases:
  # - name: "nt"
  #   type: "nucleotide"
  #   path: "/path/to/blast/db/nt"
  #   description: "NCBI Nucleotide (2026-05)"
  #   last_updated: "2026-05-10"
    # transcript:
    #   index_path: "/path/to/gff3-index.json.gz"
    #   fasta_dir: "/path/to/genome/fasta/"
    #   fasta_file: "/path/to/genome/genome.fa"
    #   source: "shared-genome-name"   # Worker: use this as the db param instead of name